.editor_line_marker{
    width: 100%;
    margin: 0;
    display: block;
    font-family: inherit;
    position: relative;
    user-select: none;
}
.editor_line_marker span{
    position: absolute;
    right: 10px;
    user-select: none;
    color: inherit;
}
.editor_line_marker i{
    position: relative;
    left: 18px;
    bottom: 2px;
    font-size: 10px;
    user-select: none;
}

.editor_code_span{
    user-select: auto;
    display: block;
    position: relative;
    width: auto;
    height: 20px;
    line-height: 20px;
    outline: none;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    color: white;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
    cursor: text;
}

.editor_code_span_indentation{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y
}


.editor_code_line{
    position: absolute;
    left: 0px;
    min-width: 100%;
    font-family: inherit;
    font-size: 16px;
    display: inline-flex;
    cursor: text;
    padding-right: 6px;
}

#edit_textarea{
    outline: none;
    background-color: transparent;
    position: absolute;
    width: 2px;
    border: 0;
    resize: none;
    padding: 0;
    color: white;
    font-family: inherit;
    font-size: 16px;
    overflow: hidden;
    z-index: 1000;
    caret-color: rgb(200, 200, 200);
}